
.rm-form > h4 {
	font-size: 2rem;
	margin: 2rem auto;
	color: var(--fg-color);
	font-weight: 800;
}
.rm-form {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	background: var(--bg-color);
	border: 1px solid var(--fg-color);
	outline: none;
	border-radius: 20px;
	position: absolute;
	top: 15%;
	left: 35%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}
.rm-form > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: 2rem auto;
	border: 0;
	border-bottom: 1px solid var(--fg-color);
	padding: 1rem;
	text-align: center;
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: 1.2rem;
	z-index: 100;
}
input:hover {
	border: 1px solid var(--fg-color);
	border-radius: 10px;
	color: var(--fg-color);
}
.rm-form > label {
	margin: 1rem auto .6rem;
	color: var(--fg-color);
	font-size: 1rem;
	font-weight: 800;
	position: absolute;
	left: 10%;
	z-index: 101;
	background: var(--bg-color);
}
#lsite {
	top: 22%;
}
#lemail {
	top: 44.5%;
}


.rm-form > button {
	width: 55%;
	margin: .6rem auto;
	height: 3rem;
	border: 1px solid var(--fg-color);
	color: var(--fg-color);
	border-radius: 15px;
	font-size: 1.5rem;
	font-weight: 800;
	margin: auto;
	background: var(--bg-color);
	cursor: pointer;
}

.rm-form button:hover {
	background: var(--fg-color);
	color: var(--bg-color);
}

.rm-form > p{
	font-size: .9rem;
	color: var(--label-color);
	width: 75%;
	margin: auto;
}
@media (max-width: 1000px) {
	.rm-form {
		width: 500px;
		height: 500px;
		top: 15%;
		left: 27%;
	}
}

@media (max-width: 700px) {
	.rm-form {
		min-width: 200px;
		max-width: 300px;
		height: 420px;
		top: 20%;
		left: 25%;
	}
	.rm-form > p {
		font-size: .6rem;
	}
	.rm-form > h4 {
		font-size: 1.5rem;
	}
	.rm-form > button  {
		font-size: 1rem;
	}
	#lsite {
		top: 24%;
	}
	#lemail {
		top: 51%;
	}
}

