.up-form > h4 {
	font-size: 2rem;
	margin: 30px auto;
	font-weight: 800;
}
hr {
	display: none;
	margin-bottom: 10px;
}
.up-form {
	width: 500px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px auto;
	background: var(--bg-color);
	border: 1px solid var(--fg-color);
	border-radius: 20px;
	outline: none;
	position: absolute;
	top: 15%;
	left: 35%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}
.up-form > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: 1.2rem auto;
	border: none;
	border-bottom: 1px solid var(--fg-color);
	padding: 1rem;
	text-align: center;
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: 1.2rem;
}

.up-form > button {
	border-radius: 10px;
	font-weight: 800;
}
.up-form > h4 {
	color: var(--fg-color);
}
.up-form > input:hover {
	border: 1px solid var(--fg-color);
}
.up-form > label {
	margin: 1rem auto .6rem;
	color: var(--fg-color);
	font-size: 1rem;
	font-weight: 800;
	background: var(--bg-color);
}
.up-label{
	position: absolute;
	left: 10%;
}
.up-label.site{
	top: 17%;
}
.up-label.email{
	top: 33%;
}
.up-label.passs{
	top: 48%;
	border: 0;
}
.up-label.npass{
	top: 64%;
}


.up-form > button {
	width: 55%;
	margin: .6rem auto;
	height: 3rem;
	border: 1px solid var(--fg-color);
	color: var(--fg-color);
	font-size: 1.5rem;
	background: var(--bg-color);
	cursor: pointer;
}

.up-form button:hover {
	background: var(--fg-color);
	color: var(--bg-color);
}

.up-form > p{
	font-size: .9rem;
	color: var(--label-color);
	width: 40ch;
	margin: auto;
	font-style: italic;
}
@media (max-width: 1000px) {
	.up-form {
		left: 27%;
	}
}

@media (max-width: 700px) {
	.up-form {
		min-width: 200px;
		max-width: 300px;
		height: 540px;
		top: 15%;
		left: 25%;
	}
	.up-form > p {
		font-size: .6rem;
	}
	.up-form > h4 {
		font-size: 1.5rem;
	}
	.up-form > button  {
		font-size: 1rem;
	}
	.up-label.site {
		top: 17.5%;
	}
	.up-label.email {
		top: 33.5%;
	}
}

