.passwd-form {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	background: var(--bg-color);
	border: 1px solid var(--fg-color);
	outline: none;
	border-radius: 20px;
	position: absolute;
	top: 15%;
	left: 35%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}
.passwd-form h1 {
	color: var(--fg-color);
	font-size: 3rem;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
}

.passwd-form > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: auto;
	border: 0;
	border-bottom: 1px solid var(--fg-color);
	color: var(--fg-color);
	padding: 1rem;
	text-align: center;
	background: var(--bg-color);
	font-size: 1.2rem;
}
.passwd-form > p{
	font-size: .8rem;
	color: var(--label-color);
	width: 75%;
	margin: 2px auto 0;
	line-height: 15px;
	font-style: italic;
	font-weight: 400;
}
.passwd-form > label {
	margin: 1rem auto .1rem;
	color: var(--fg-color);
	font-size: 1rem;
	font-weight: 700;
	position: absolute;
	left: 10%;
	background: var(--bg-color);

}
#asite {
	top: 24.5%;
}
#aemail {
	top: 42.5%;
}
#apass {
	top: 60%;
}
.passwd-form > button {
	width: 40%;
	margin: 1rem auto;
	height: 2.5rem;
	border: 1px solid var(--fg-color);
	border-radius: 15px;
	font-size: 1.27rem;
	font-weight: 700;
	color: var(--fg-color);
	background: var(--bg-color);
}
button:hover {
	background: var(--fg-color);
	color: var(--bg-color);
}
@media (max-width: 1000px) {
	.passwd-form {
		width: 500px;
		height: 500px;
		top: 15%;
		left: 27%;
	}
}

@media (max-width: 700px) {
	.passwd-form {
		min-width: 200px;
		max-width: 300px;
		height: 500px;
		top: 17%;
		left: 25%;
	}
	.passwd-form h1 {
		font-size: 2rem;
	}
	.passwd-form > button {
		font-size: 1rem;
	}
	#asite {
	top: 21.5%;
	}
	#aemail {
	top: 39.5%;
	}
	#apass {
	top: 57%;
	}
}

@keyframes bounce {
  0%   {top: 0px;}
  25%  {top: 50px;}
  50%  {top: 25px;}
  75%  {top: 50px;}
  100% {top: 0px;}
}
@keyframes blink {
  0%    { opacity: 0; }
  20%   { opacity: .50; }
  80%   { opacity: .7; }
  100%  { opacity: 1; }
}
