*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--fg-color);
	width: 6px;
}
* {
	scrollbar-width: 10px;
	scrollbar-color: var(--bg-color) var(--fg-color);
}
.container {
	max-width: 80%;
	max-height: 75vh;
	position: absolute;
	left: 100px;
	top: 100px;
	overflow-x: scroll;
}
.container h5 {
	font-style: italic;
	font-weight: 300;
	font-size: .75rem;
	position: fixed;
	top: 74px;
}
.search-field {
	position: fixed;
	width: 80%;
	top: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.search-field input {
	width: 350px;
	height: 40px;
	border-radius: 15px;
	border: 1px solid var(--fg-color);
	padding: 10px;
	box-sizing: border-box;
	color: var(--fg-color);
	background: var(--bg-color);
}

.passwords {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.pass {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 200px;
	max-width: 100%;
	border: 1px solid var(--fg-color);
	border-radius: 10px;
	color: var(--fg-color);
	position: relative;
	margin: 10px auto;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}
.site-span {
	font-size: 1.5rem;
	font-weight: 800;
}
.email-span ,
.password-span{
	font-size: 1rem;
}
.label {
	font-size: .8rem;
	font-weight: 300;
	color: var(--label-color);
}
.button {
	height: 55px;
	width: 200px;
	border: 0;
	border-radius: 10px;
	background: var(--fg-color);
	color: var(--bg-color);
	box-sizing: border-box;
	padding: 5px 10px;
	font-size: 1.5rem;
	font-weight: 800;
	animation: move 1s infinite;
}
.pass:hover {
	background: var(--fg-color);
	color: var(--bg-color);
	animation: move 1s infinite;
}
.cp-btn {
	background: transparent;
	height: 30px;
	position: absolute;
	border: 0;
	outline: none;
	color: var(--bg-color);
}
.btn-site {
	right: 5px;
	top: 5px;
}
.btn-email {
	right: 5px;
}
.btn-pass {
	right: 5px;
	bottom: 5px;
}
@media (max-width: 750px) {
	.pass {
		min-width: 70%;
		max-width: 70%;
	}
	.container {
		left: 50px;
	}
	.search-field {
		left: 18%;
	}
	.search-field button{
		display: none;
	}
}
@media (min-width: 1000px) {
	.container {
		max-width: 60%;
		left: 20%;
	}
	.search-field {
		width: 48%;
	}
}
@keyframes move {
	0% { transform: translateY(0)}
	50% { transform: translateY(3%)}
	0% { transform: translateY(1.5%)}
	0% { transform: translateY(.5%)}
}
