
.register-container {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	position:absolute;
	top: 0;
	left: 0;
	z-index: 400;

}

.register-wraper {
	width: 40%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translate(70%, 30%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px solid var(--fg-color);
	background: var(--bg-color);
	border-radius: 10px;
	z-index: 500;
}
.register-wraper > button {
	margin-top: auto;
	width: 100px;
	height: 50px;
	background: var(--fg-color);
	color: var(--bg-color);
}
.register-wraper > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: 1.2rem auto;
	border: none;
	border: 1px solid var(--fg-color);
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: 1rem;
}
.register-wraper > button {
	border-radius: 10px;
	border: 0;
	background: var(--fg-color);
	color: var(--bg-color);
	font-size: 1.3rem;
	font-weight: 700;
	width: 150px;
	height: 50px;
	margin: auto;
	margin-bottom: 20px;
}
.register-wraper > h1 {
	color: var(--fg-color);
	font-size: 3rem;
	margin: 20px 0;
}
.register-wraper > label {
	margin: .5rem auto .5rem;
	color: var(--fg-color);
	font-size: 1rem;
	font-weight: 800;
	background: var(--bg-color);
}

@media (min-width: 1000px) {
	.register-wraper {
		width: 30%;
		transform: translate(110%, 30%);
	}
}

@media (max-width: 450px) {
	.register-wraper {
		width: 50%;
		height: 43%;
		top: 10%;
		left: -5%;
	}
	.register-wraper > h1 {
		font-size: 1.5rem;
	}
	.register-wraper > input {
		font-size: .5rem;
		width: 80%;
		height: 2rem;
	}
	.register-wraper > label {
		margin: 0;
		font-size: .8rem;
	}
	.register-wraper > button {
		width: 80px;
		height: 30px;
		font-size: 1rem;
		margin: auto;
	}
	.register-wraper > button:last-child {
		margin-bottom: 20px;
	}
}

