
.register-container {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	position:absolute;
	top: 0;
	left: 0;
	z-index: 400;

}

.register-wraper {
	width: 400px;
	height: 450px;
	position: absolute;
	top: 20%;
	left: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px solid var(--fg-color);
	background: var(--bg-color);
	border-radius: 10px;
	z-index: 500;
}
.register-wraper > button {
	width: 100px;
	height: 50px;
	background: var(--fg-color);
	color: var(--bg-color);
}
.register-wraper > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: .5rem auto;
	border: none;
	border: 1px solid var(--fg-color);
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: 1rem;
}
.register-wraper > button {
	border-radius: 10px;
	border: 0;
	background: var(--fg-color);
	color: var(--bg-color);
	font-size: 1.3rem;
	font-weight: 700;
	width: 150px;
	height: 50px;
	margin: auto;
	margin-bottom: 10px;
}
.register-wraper > h1 {
	color: var(--fg-color);
	font-size: 3rem;
	margin: 10px 0;
}
.register-wraper > label {
	margin: .5rem auto .5rem;
	color: var(--fg-color);
	font-size: 1rem;
	font-weight: 800;
	background: var(--bg-color);
}

