.profile-container {
	width: 80%;
	position: absolute;
	left: 15%;
	top: 10%;
}
.profile-wraper {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid var(--fg-color);
	background: var(--bg-color);
	color: var(--fg-color);
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
	align-items: center;
}

.user-data {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 60%;
}

.user-data > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: 1.2rem auto;
	border: none;
	border: 1px solid var(--fg-color);
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: 1rem;
}
#profile-email {
	background: var(--private-input);
}

.delete-account > button {
	border-radius: 10px;
	border: 0;
	background: #f00;
	color: var(--bg-color);
	font-size: 1.3rem;
	font-weight: 800;
	width: 200px;
	height: 50px;
	margin-bottom: 10px;
}
.user-data > h4 {
	color: var(--fg-color);
	font-size: 3rem;
	margin: 20px 0;
}
.user-data > label {
	margin: 1rem auto .6rem;
	color: var(--fg-color);
	font-size: 1rem;
	font-weight: 800;
	background: var(--bg-color);
}

.user-data > button {
	border-radius: 10px;
	border: 0;
	background: var(--fg-color);
	color: var(--bg-color);
	font-size: 1rem;
	font-weight: 700;
	width: 120px;
	height: 40px;
	margin: auto;
	margin-bottom: 10px;
}
.visibility-top {
	position: absolute;
	top: 44%;
	left: 70%;
}
.visibility-bottom {
	position: absolute;
	top: 62.5%;
	left: 70%;
}
